* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #1a1a1a;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #fff;
}

/* HEADER SECTION */

#main-header {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/index-bg.jpg') no-repeat center center / cover;
}

/* navbar */
.navbar {
    height: 3rem;
    padding: 2rem 0;
}

.navbar .navbar-brand {
    color: #fff;
    font-weight: 900;
    font-size: 1.5rem;
}

.navbar .navbar-brand i {
    color: #b5f02b;
}

.navbar .nav-item {
   padding: 0 1.5rem;   
}

.navbar-nav .nav-link {
    font-size: 1.2rem;
    color: #b5f02b;
    transition: all 0.5s;
}

.navbar-nav .nav-link:hover {
    color: #10b6cc;
}

.navbar-toggler i {
    color: #10b6cc;
}

.showcase-content {
    background: #000;
    padding: 1.2rem 2rem;
    margin-top: 12rem;
}

.showcase-content .showcase-heading {
    font-size: 4rem;
    margin-bottom: 1.4rem;
    font-family: 'Red Hat Text', sans-serif; 
}

.showcase-content .showcase-p {
    font-size: 1.2rem;
    font-weight: 300;
}

/* utility style */
.text-yellow {
    color: #b5f02b;
}

.text-blue {
    color: #10b6cc;
}

.bold {
    font-weight: bold;
}

/* END HEADER SECTION */

/* CALL TO ACTION */
#call-to-action .jumbotron {
    background: #1a1a1a;
}

#call-to-action .jumbotron h2 {
    font-size: 3rem;
    color: #b5f02b;
    margin-bottom: 2rem;
}

#call-to-action .jumbotron p {
    font-size: 1.2rem;
}

.jumbotron hr {
    width: 20%;
    margin: 0 auto;
    background-color: #b5f02b !important;
}

.jumbotron .btn-outline-light,
#info-section .btn-outline-light {
    margin-top: 2rem;
    color: #10b6cc;
    border: 2px solid #10b6cc;
    transition: all 0.5s;
}

.jumbotron .btn-outline-light:hover,
#info-section .btn-outline-light:hover {
    background: none;
    color: #b5f02b;
    border: 2px solid #b5f02b;
}
/* END CALL TO ACTION */

/* EXPLORE SECTION */
#explore .card {
    border: none;
    background: #1a1a1a;
    padding: 0;
    margin: 0;
}

#explore .fas {
    color: #b5f02b;
    transition: all 0.5s;
}

#explore .fas:hover {
    color: #10b6cc;
}
/* END EXPLORE SECTION */

/* PARALAX SECTION */
#paralax {
    min-height: 400px;
    background: linear-gradient(rgba(181, 240, 43, 0.9), rgba(181, 240, 43, 0.9)), url(../img/paralax-bg.jpg) no-repeat center center /cover;
    background-attachment: fixed;
    text-align: center;
}

#paralax .jumbotron {
    background: none;
}

#paralax h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

#paralax p {
    font-size: 1.2rem;
}
/* END PARALAX SECTION */

/* FOOTER */
#main-footer {
    background: #121212;
}
/* END FOOTER */

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
    .navbar {
        height: 3rem;
        padding: 2rem 2rem;
    }
    
    .showcase-content .showcase-heading {
        font-size: 2rem;
        margin-bottom: 1.2rem;
    }

    .showcase-content .showcase-p {
        font-size: 0.7rem;
    }

  }

  @media only screen and (max-width: 768px) {
    /* INFO SECTION */
    #info-section {
        text-align: center;
    }

    #info-section img {
        margin-top: 1.4rem;
    }
    /* END INFO SECTION */
  }